Node-red/node-red
[
    {
        "id": "baa20cf6837fc8fe",
        "type": "tab",
        "label": "Project",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f0f0db8b03f968be",
        "type": "function",
        "z": "baa20cf6837fc8fe",
        "name": "Score",
        "func": "// Preferences and sensor values from flow\nlet preferences = flow.get('preferences') || { temperature: 22, light: 5, sound: 3 };\nlet sensorData = {\n    temperature: msg.payload.temperature || 22,\n    light: msg.payload.light || 7,\n    sound: msg.payload.sound || 3\n};\n\n\n// Normalization ranges (assume European standards or defaults)\nlet tempRange = { min: 15, max: 25 }; // Temperature range\nlet lightRange = { min: 0, max: 10 }; // Light range (e.g., 0-10)\nlet soundRange = { min: 0, max: 10 }; // Sound range (e.g., 0-10)\n\n// Normalize sensor values\nlet normalizedTemp = (sensorData.temperature - tempRange.min) / (tempRange.max - tempRange.min);\nlet normalizedLight = (sensorData.light - lightRange.min) / (lightRange.max - lightRange.min);\nlet normalizedSound = (sensorData.sound - soundRange.min) / (soundRange.max - soundRange.min);\n\n// Clamp values to 0-1 range (in case sensors exceed expected bounds)\nnormalizedTemp = Math.min(Math.max(normalizedTemp, 0), 1);\nnormalizedLight = Math.min(Math.max(normalizedLight, 0), 1);\nnormalizedSound = Math.min(Math.max(normalizedSound, 0), 1);\n\n// Weights for scoring (adjust these as per user preference)\nlet weights = {\n    temperature: 0.33,\n    light: 0.33,\n    sound: 0.34\n};\n\n// Compute weighted score\nlet score = \n    (weights.temperature * normalizedTemp) +\n    (weights.light * normalizedLight) +\n    (weights.sound * normalizedSound);\n\n// Output the score and normalized values for debugging\nmsg.payload = {\n    temperature: sensorData.temperature,\n    light: sensorData.light,\n    sound: sensorData.sound,\n    score: score\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 380,
        "wires": [
            [
                "f04f9a1a4e07c7d9",
                "36501ae517e2b4bb"
            ]
        ]
    },
    {
        "id": "c585ae5bf4263198",
        "type": "ui-slider",
        "z": "baa20cf6837fc8fe",
        "group": "77847660516911e6",
        "name": "Temperature",
        "label": "Temperature",
        "tooltip": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "outs": "end",
        "topic": "temperature",
        "topicType": "str",
        "thumbLabel": "always",
        "showTicks": "always",
        "min": "15",
        "max": "25",
        "step": "0.5",
        "className": "",
        "iconPrepend": "15",
        "iconAppend": "25",
        "color": "",
        "colorTrack": "",
        "colorThumb": "",
        "showTextField": false,
        "x": 110,
        "y": 300,
        "wires": [
            [
                "1b2d502fc9585c05"
            ]
        ]
    },
    {
        "id": "ce84e741b270b4c3",
        "type": "ui-slider",
        "z": "baa20cf6837fc8fe",
        "group": "77847660516911e6",
        "name": "Sound",
        "label": "Sound",
        "tooltip": "",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "outs": "end",
        "topic": "sound",
        "topicType": "str",
        "thumbLabel": "always",
        "showTicks": "always",
        "min": 0,
        "max": 10,
        "step": 1,
        "className": "",
        "iconPrepend": "0",
        "iconAppend": "10",
        "color": "",
        "colorTrack": "",
        "colorThumb": "",
        "x": 130,
        "y": 460,
        "wires": [
            [
                "1b2d502fc9585c05"
            ]
        ]
    },
    {
        "id": "0a7e33a164ffeb65",
        "type": "ui-slider",
        "z": "baa20cf6837fc8fe",
        "group": "77847660516911e6",
        "name": "Light",
        "label": "Light",
        "tooltip": "",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "outs": "end",
        "topic": "light",
        "topicType": "str",
        "thumbLabel": "always",
        "showTicks": "always",
        "min": 0,
        "max": 10,
        "step": 1,
        "className": "",
        "iconPrepend": "0",
        "iconAppend": "10",
        "color": "",
        "colorTrack": "",
        "colorThumb": "",
        "x": 130,
        "y": 380,
        "wires": [
            [
                "1b2d502fc9585c05"
            ]
        ]
    },
    {
        "id": "78ac3bc3026008c7",
        "type": "debug",
        "z": "baa20cf6837fc8fe",
        "name": "temp",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 300,
        "wires": []
    },
    {
        "id": "9eb2d44ff00c2feb",
        "type": "json",
        "z": "baa20cf6837fc8fe",
        "name": "JAll",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 510,
        "y": 380,
        "wires": [
            [
                "78ac3bc3026008c7",
                "f0f0db8b03f968be"
            ]
        ]
    },
    {
        "id": "1b2d502fc9585c05",
        "type": "function",
        "z": "baa20cf6837fc8fe",
        "name": "Set Defaults",
        "func": "let preferences = flow.get('preferences') || {\n    temperature: 22,\n    light: 5,\n    sound: 3\n};\n\nif (msg.topic === 'temperature') {\n    preferences.temperature = msg.payload;\n} else if (msg.topic === 'light') {\n    preferences.light = msg.payload;\n} else if (msg.topic === 'sound') {\n    preferences.sound = msg.payload;\n}\n \nflow.set('preferences', preferences);\nmsg.payload = preferences;\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 380,
        "wires": [
            [
                "9eb2d44ff00c2feb"
            ]
        ]
    },
    {
        "id": "f04f9a1a4e07c7d9",
        "type": "debug",
        "z": "baa20cf6837fc8fe",
        "name": "function",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 300,
        "wires": []
    },
    {
        "id": "451b8fab45909a02",
        "type": "http request",
        "z": "baa20cf6837fc8fe",
        "name": "Score",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://localhost:3000/data",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "Content-Type",
                "valueType": "other",
                "valueValue": "application/json"
            }
        ],
        "x": 1030,
        "y": 380,
        "wires": [
            [
                "655b79c30a5affd6"
            ]
        ]
    },
    {
        "id": "655b79c30a5affd6",
        "type": "debug",
        "z": "baa20cf6837fc8fe",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1160,
        "y": 380,
        "wires": []
    },
    {
        "id": "36501ae517e2b4bb",
        "type": "json",
        "z": "baa20cf6837fc8fe",
        "name": "",
        "property": "payload.score",
        "action": "",
        "pretty": false,
        "x": 890,
        "y": 440,
        "wires": [
            [
                "451b8fab45909a02",
                "d8a813ea3996a388"
            ]
        ]
    },
    {
        "id": "d8a813ea3996a388",
        "type": "debug",
        "z": "baa20cf6837fc8fe",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 500,
        "wires": []
    },
    {
        "id": "1d976b938e4280b3",
        "type": "http in",
        "z": "baa20cf6837fc8fe",
        "name": "",
        "url": "/compare",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 540,
        "y": 700,
        "wires": [
            [
                "516ac617158ea4f3",
                "3a8b45d541d6d85b"
            ]
        ]
    },
    {
        "id": "516ac617158ea4f3",
        "type": "debug",
        "z": "baa20cf6837fc8fe",
        "name": "debug 12",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 700,
        "wires": []
    },
    {
        "id": "3a8b45d541d6d85b",
        "type": "function",
        "z": "baa20cf6837fc8fe",
        "name": "SetDefaultTable",
        "func": "let comparisonResult = msg.payload;\n\n// Process the comparison result as needed\n\nmsg.payload = comparisonResult.rooms.map(room => {\n    return {\n        roomId: room.roomId,\n        temperature: room.temperature,\n        sound: room.sound,\n        light: room.light,\n        score: room.score,\n        difference: room.difference\n    };\n});\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 800,
        "wires": [
            [
                "fc933bed60fd5032"
            ]
        ]
    },
    {
        "id": "fc933bed60fd5032",
        "type": "ui-table",
        "z": "baa20cf6837fc8fe",
        "group": "77847660516911e6",
        "name": "Result Room",
        "label": "Better rooms",
        "order": 4,
        "width": 0,
        "height": 0,
        "maxrows": 0,
        "passthru": false,
        "autocols": false,
        "showSearch": false,
        "selectionType": "none",
        "columns": [
            {
                "title": "Room ID",
                "key": "roomId",
                "keyType": "key",
                "type": "text",
                "width": "",
                "align": "start"
            },
            {
                "title": "Temperature",
                "key": "temperature",
                "keyType": "key",
                "type": "text",
                "width": "",
                "align": "start"
            },
            {
                "title": "Sound",
                "key": "sound",
                "keyType": "key",
                "type": "text",
                "width": "",
                "align": "start"
            },
            {
                "title": "Light",
                "key": "light",
                "keyType": "key",
                "type": "text",
                "width": "",
                "align": "start"
            }
        ],
        "mobileBreakpoint": "sm",
        "mobileBreakpointType": "defaults",
        "action": "replace",
        "x": 970,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "157f482cda7496d4",
        "type": "ui-template",
        "z": "baa20cf6837fc8fe",
        "group": "",
        "page": "dea7e770e64de90d",
        "ui": "",
        "name": "Swagger Template",
        "order": 1,
        "width": "0",
        "height": "0",
        "head": "",
        "format": "<div style=\"width: 100%; height: 100%; position: absolute; top: 0; bottom: 0; left: 0; right: 0;\">\n    <iframe src=\"http://localhost:3000/api-docs\" style=\"width: 100%; height: 100%; border: none;\">\n    </iframe>\n</div>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "widget:page",
        "className": "",
        "x": 370,
        "y": 600,
        "wires": [
            [
                "66c3c4c48ab4952c"
            ]
        ]
    },
    {
        "id": "66c3c4c48ab4952c",
        "type": "debug",
        "z": "baa20cf6837fc8fe",
        "name": "debug 13",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 600,
        "wires": []
    },
    {
        "id": "857966f33ae0f697",
        "type": "ui_spacer",
        "z": "baa20cf6837fc8fe",
        "name": "spacer",
        "group": "77a601d0fdedb785",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "77847660516911e6",
        "type": "ui-group",
        "name": "Room Preference",
        "page": "bf663abe6ffdc438",
        "width": "6",
        "height": "1",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "dea7e770e64de90d",
        "type": "ui-page",
        "name": "Swagger",
        "ui": "5ea5e2badddf4026",
        "path": "/swagger",
        "icon": "home",
        "layout": "tabs",
        "theme": "9cc72d51b53e786f",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            }
        ],
        "order": 2,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "77a601d0fdedb785",
        "type": "ui_group",
        "name": "UserInput",
        "tab": "194cd907622b9fab",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "bf663abe6ffdc438",
        "type": "ui-page",
        "name": "IOT Project",
        "ui": "5ea5e2badddf4026",
        "path": "/RoomPreference",
        "icon": "home",
        "layout": "grid",
        "theme": "4a8ae588a3020703",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "5ea5e2badddf4026",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control",
            "ui-form",
            "ui-text-input",
            "ui-template",
            "ui-markdown",
            "ui-gauge",
            "ui-chart",
            "ui-table",
            "ui-text",
            "ui-switch",
            "ui-slider",
            "ui-radio-group",
            "ui-dropdown",
            "ui-button-group",
            "ui-button",
            "ui-number-input",
            "ui-file-input"
        ],
        "showPathInSidebar": false,
        "showPageTitle": true,
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": false,
        "notificationDisplayTime": "5",
        "showDisconnectNotification": false
    },
    {
        "id": "9cc72d51b53e786f",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "194cd907622b9fab",
        "type": "ui_tab",
        "name": "Homepage",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "4a8ae588a3020703",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    }
]