Node-red/node-red
[
    {
        "id": "f108df3a26087173",
        "type": "tab",
        "label": "Project",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "86baffad58c54763",
        "type": "function",
        "z": "f108df3a26087173",
        "name": "Score",
        "func": "// Preferences and sensor values from flow\nlet preferences = flow.get('preferences') || { temperature: 22, light: 5, sound: 3 };\nlet sensorData = {\n    temperature: msg.payload.temperature || 22,\n    light: msg.payload.light || 7,\n    sound: msg.payload.sound || 3\n};\n\n\n// Normalization ranges (assume European standards or defaults)\nlet tempRange = { min: 15, max: 25 }; // Temperature range\nlet lightRange = { min: 0, max: 10 }; // Light range (e.g., 0-10)\nlet soundRange = { min: 0, max: 10 }; // Sound range (e.g., 0-10)\n\n// Normalize sensor values\nlet normalizedTemp = (sensorData.temperature - tempRange.min) / (tempRange.max - tempRange.min);\nlet normalizedLight = (sensorData.light - lightRange.min) / (lightRange.max - lightRange.min);\nlet normalizedSound = (sensorData.sound - soundRange.min) / (soundRange.max - soundRange.min);\n\n// Clamp values to 0-1 range (in case sensors exceed expected bounds)\nnormalizedTemp = Math.min(Math.max(normalizedTemp, 0), 1);\nnormalizedLight = Math.min(Math.max(normalizedLight, 0), 1);\nnormalizedSound = Math.min(Math.max(normalizedSound, 0), 1);\n\n// Weights for scoring (adjust these as per user preference)\nlet weights = {\n    temperature: 0.33,\n    light: 0.33,\n    sound: 0.34\n};\n\n// Compute weighted score\nlet score = \n    (weights.temperature * normalizedTemp) +\n    (weights.light * normalizedLight) +\n    (weights.sound * normalizedSound);\n\n// Output the score and normalized values for debugging\nmsg.payload = {\n    temperature: sensorData.temperature,\n    light: sensorData.light,\n    sound: sensorData.sound,\n    score: score\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 380,
        "wires": [
            [
                "92ffefcfa47aba12",
                "8bbb4467210ef9dd"
            ]
        ]
    },
    {
        "id": "665032cca8f9b754",
        "type": "ui-slider",
        "z": "f108df3a26087173",
        "group": "9fddb19420dfef5a",
        "name": "Temperature",
        "label": "Temperature",
        "tooltip": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "outs": "end",
        "topic": "temperature",
        "topicType": "str",
        "thumbLabel": "always",
        "showTicks": "always",
        "min": "15",
        "max": "25",
        "step": "0.5",
        "className": "",
        "iconPrepend": "15",
        "iconAppend": "25",
        "color": "",
        "colorTrack": "",
        "colorThumb": "",
        "x": 110,
        "y": 300,
        "wires": [
            [
                "d25a5585f66733a6"
            ]
        ]
    },
    {
        "id": "d2cf73448bc6cfe4",
        "type": "ui-slider",
        "z": "f108df3a26087173",
        "group": "9fddb19420dfef5a",
        "name": "Sound",
        "label": "Sound",
        "tooltip": "",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "outs": "end",
        "topic": "sound",
        "topicType": "str",
        "thumbLabel": "always",
        "showTicks": "always",
        "min": 0,
        "max": 10,
        "step": 1,
        "className": "",
        "iconPrepend": "0",
        "iconAppend": "10",
        "color": "",
        "colorTrack": "",
        "colorThumb": "",
        "x": 130,
        "y": 460,
        "wires": [
            [
                "d25a5585f66733a6"
            ]
        ]
    },
    {
        "id": "f69d95efb01380d8",
        "type": "ui-slider",
        "z": "f108df3a26087173",
        "group": "9fddb19420dfef5a",
        "name": "Light",
        "label": "Light",
        "tooltip": "",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "outs": "end",
        "topic": "light",
        "topicType": "str",
        "thumbLabel": "always",
        "showTicks": "always",
        "min": 0,
        "max": 10,
        "step": 1,
        "className": "",
        "iconPrepend": "0",
        "iconAppend": "10",
        "color": "",
        "colorTrack": "",
        "colorThumb": "",
        "x": 130,
        "y": 380,
        "wires": [
            [
                "d25a5585f66733a6"
            ]
        ]
    },
    {
        "id": "173ed510b219e2df",
        "type": "debug",
        "z": "f108df3a26087173",
        "name": "temp",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 300,
        "wires": []
    },
    {
        "id": "6b3922319f4724b2",
        "type": "json",
        "z": "f108df3a26087173",
        "name": "JAll",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 510,
        "y": 380,
        "wires": [
            [
                "173ed510b219e2df",
                "86baffad58c54763"
            ]
        ]
    },
    {
        "id": "d25a5585f66733a6",
        "type": "function",
        "z": "f108df3a26087173",
        "name": "Set Defaults",
        "func": "let preferences = flow.get('preferences') || {\n    temperature: 22,\n    light: 5,\n    sound: 3\n};\n\nif (msg.topic === 'temperature') {\n    preferences.temperature = msg.payload;\n} else if (msg.topic === 'light') {\n    preferences.light = msg.payload;\n} else if (msg.topic === 'sound') {\n    preferences.sound = msg.payload;\n}\n \nflow.set('preferences', preferences);\nmsg.payload = preferences;\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 380,
        "wires": [
            [
                "6b3922319f4724b2"
            ]
        ]
    },
    {
        "id": "92ffefcfa47aba12",
        "type": "debug",
        "z": "f108df3a26087173",
        "name": "function",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 300,
        "wires": []
    },
    {
        "id": "c27b0a2c04f69da7",
        "type": "http request",
        "z": "f108df3a26087173",
        "name": "Score",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://localhost:3000/data",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "Content-Type",
                "valueType": "other",
                "valueValue": "application/json"
            }
        ],
        "x": 1030,
        "y": 380,
        "wires": [
            [
                "47a1c33bebe33bb0"
            ]
        ]
    },
    {
        "id": "47a1c33bebe33bb0",
        "type": "debug",
        "z": "f108df3a26087173",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1160,
        "y": 380,
        "wires": []
    },
    {
        "id": "8bbb4467210ef9dd",
        "type": "json",
        "z": "f108df3a26087173",
        "name": "",
        "property": "payload.score",
        "action": "",
        "pretty": false,
        "x": 890,
        "y": 440,
        "wires": [
            [
                "c27b0a2c04f69da7",
                "47592514312f7490"
            ]
        ]
    },
    {
        "id": "47592514312f7490",
        "type": "debug",
        "z": "f108df3a26087173",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 500,
        "wires": []
    },
    {
        "id": "01087eecee1cfd1e",
        "type": "http in",
        "z": "f108df3a26087173",
        "name": "",
        "url": "/compare",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 540,
        "y": 700,
        "wires": [
            [
                "71c9d604b07741fb",
                "03be2465ca4f57b5"
            ]
        ]
    },
    {
        "id": "71c9d604b07741fb",
        "type": "debug",
        "z": "f108df3a26087173",
        "name": "debug 12",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 700,
        "wires": []
    },
    {
        "id": "03be2465ca4f57b5",
        "type": "function",
        "z": "f108df3a26087173",
        "name": "SetDefaultTable",
        "func": "let comparisonResult = msg.payload;\n\n// Process the comparison result as needed\n\nmsg.payload = comparisonResult.rooms.map(room => {\n    return {\n        roomId: room.roomId,\n        temperature: room.temperature,\n        sound: room.sound,\n        light: room.light,\n        score: room.score,\n        difference: room.difference\n    };\n});\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 800,
        "wires": [
            [
                "0b0fe6dec8011e9b"
            ]
        ]
    },
    {
        "id": "0b0fe6dec8011e9b",
        "type": "ui-table",
        "z": "f108df3a26087173",
        "group": "9fddb19420dfef5a",
        "name": "Result Room",
        "label": "Better rooms",
        "order": 4,
        "width": 0,
        "height": 0,
        "maxrows": 0,
        "passthru": false,
        "autocols": false,
        "showSearch": false,
        "selectionType": "none",
        "columns": [
            {
                "title": "Room ID",
                "key": "roomId",
                "keyType": "key",
                "type": "text",
                "width": "",
                "align": "start"
            },
            {
                "title": "Temperature",
                "key": "temperature",
                "keyType": "key",
                "type": "text",
                "width": "",
                "align": "start"
            },
            {
                "title": "Sound",
                "key": "sound",
                "keyType": "key",
                "type": "text",
                "width": "",
                "align": "start"
            },
            {
                "title": "Light",
                "key": "light",
                "keyType": "key",
                "type": "text",
                "width": "",
                "align": "start"
            }
        ],
        "mobileBreakpoint": "sm",
        "mobileBreakpointType": "defaults",
        "action": "replace",
        "x": 970,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "e27f53e9c1d4f7c8",
        "type": "ui_spacer",
        "z": "f108df3a26087173",
        "name": "spacer",
        "group": "77a601d0fdedb785",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "9fddb19420dfef5a",
        "type": "ui-group",
        "name": "Room Preference",
        "page": "f908c2102e15f6ab",
        "width": "6",
        "height": "1",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "77a601d0fdedb785",
        "type": "ui_group",
        "name": "UserInput",
        "tab": "194cd907622b9fab",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f908c2102e15f6ab",
        "type": "ui-page",
        "name": "IOT Project",
        "ui": "5ea5e2badddf4026",
        "path": "/RoomPreference",
        "icon": "home",
        "layout": "grid",
        "theme": "69335720bb38269e",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "194cd907622b9fab",
        "type": "ui_tab",
        "name": "Homepage",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "5ea5e2badddf4026",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control",
            "ui-form",
            "ui-text-input",
            "ui-template",
            "ui-markdown",
            "ui-gauge",
            "ui-chart",
            "ui-table",
            "ui-text",
            "ui-switch",
            "ui-slider",
            "ui-radio-group",
            "ui-dropdown",
            "ui-button-group",
            "ui-button",
            "ui-number-input",
            "ui-file-input"
        ],
        "showPathInSidebar": false,
        "showPageTitle": true,
        "navigationStyle": "default",
        "titleBarStyle": "default"
    },
    {
        "id": "69335720bb38269e",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    }
]